.row {
    display: flex;
} 

.caseWithe {
    border: solid 1px black;
    height: 80px;
    width: 80px;
}

.blackCase {
    border: solid 1px white;
    background-color: black;
    color: white;
}


/* ----- pièces blanches ------*/

#TourBlancG, #TourBlancD {
    background-color: green;

}
#FouBlancG, #FouBlancD {
    background-color: blue;

}
#CavaBlancG, #CavaBlancD {
    background-color: red;

}
#RoiBlanc {
    background-color: grey;

}
#DameBlanc {
    background-color: rgb(247, 0, 197);

}
#PionBlanc1, #PionBlanc2, #PionBlanc3, #PionBlanc4, #PionBlanc5, #PionBlanc6, #PionBlanc7, #PionBlanc8  {
    background-color: yellow;

}


/* ----- pièces noires ------*/
#TourNoirG, #TourNoirD {
    background-color: rgb(2, 49, 2);

}
#FouNoirG, #FouNoirD {
    background-color: rgb(0, 0, 71);

}
#CavaNoirG, #CavaNoirD {
    background-color: rgb(104, 0, 0);

}
#RoiNoir {
    background-color: rgb(53, 53, 53);

}
#DameNoir {
    background-color: rgb(59, 0, 47);

}
#PionNoir1, #PionNoir2, #PionNoir3, #PionNoir4, #PionNoir5, #PionNoir6, #PionNoir7, #PionNoir8  {
    background-color: rgb(150, 150, 34);

}

.seleced {
    outline: 5px solid black;
    outline-offset: -5px;
}

.selectable {
    border: solid 1px black;
    height: 80px;
    width: 80px;
    outline: 5px dashed red;
    outline-offset: -8px;
}

.piecePrenable {
    outline: dashed rgb(223, 0, 48);
    outline-offset: -5px;
    height: 80px;
    width: 80px;
    border: solid 8px black;
}