.row {
    display: flex;
} 

.caseWithe {
    border: solid 1px black;
    height: 80px;
    width: 80px;
}

.caseBlack {
    border: solid 1px white;
    background-color: black;
    color: white;
    height: 80px;
    width: 80px;
}


/* ----- pièces blanches ------*/

#TourBlancG, #TourBlancD {
    background-image: url('../data/Pieces/tourBlanche.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
}
#FouBlancG, #FouBlancD {
    background-image: url('../data/Pieces/fouBlanc.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
#CavaBlancG, #CavaBlancD {
    background-color: red;

}
#RoiBlanc {
    background-color: grey;

}
#DameBlanc {
    background-color: rgb(247, 0, 197);

}
#PionBlanc1, #PionBlanc2, #PionBlanc3, #PionBlanc4, #PionBlanc5, #PionBlanc6, #PionBlanc7, #PionBlanc8  {
    background-image: url('../data/Pieces/pionBlanc.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


/* ----- pièces noires ------*/
#TourNoirG, #TourNoirD {
    background-image: url('../data/Pieces/tourNoir.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}
#FouNoirG, #FouNoirD {
    background-image: url('../data/Pieces/fouNoir.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}
#CavaNoirG, #CavaNoirD {
    background-color: rgb(104, 0, 0);

}
#RoiNoir {
    background-color: rgb(148, 148, 148);

}
#DameNoir {
    background-color: rgb(59, 0, 47);

}
#PionNoir1, #PionNoir2, #PionNoir3, #PionNoir4, #PionNoir5, #PionNoir6, #PionNoir7, #PionNoir8  {
    background-image: url('../data/Pieces/pionNoir.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.seleced {
    outline: 5px solid black;
    outline-offset: -5px;
}

.selectable {
    border: solid 1px black;
    height: 80px;
    width: 80px;
    outline: 5px dashed red;
    outline-offset: -8px;
}

.piecePrenable {
    outline: dashed rgb(0, 223, 30);
    outline-offset: -5px;
    height: 80px;
    width: 80px;
    border: solid 8px black;
}


/*----------------------écran de fin---------------------*/

.modalChestWin {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    width: 100vw;
}

.winText {
    width: fit-content;
    padding: 2rem;
    margin: 0;
    color: black;
    font-size: 3rem;
    background-color: white;
}
