p {
    margin: 0;
}

.buttonRectangleContainer {
    position: relative  ;
    overflow: hidden;
    width: fit-content;
    box-sizing: content-box;
}


.circle {
    transition: 500ms;
    position: absolute;
    left: -40px;
    top: .6rem;
    border-radius: 50px;
    height: 2rem;
    width: 2rem;
    background-color: green;
    border: 1px black solid;
    z-index: 1;
    
}

.circle-top {
    top: -3rem;
    left: 1rem;

}

.circle-bot {
    top: 4rem;
    left: 1rem;

}

.rectangleFond {
    margin: 1rem 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative  ;
    height: 4rem;
    width: 10rem;
    background-color: red;
    border: 1px black solid;
    border-radius: 50px;

    box-sizing: border-box;
    border: 5px black solid;

    p {
        padding: 1rem 2rem;
    }
    &:hover {
        .circle {
            transition: 500ms;
            left: 1rem;
            top: .6rem;

        }
    }
}

.circleClicked {
    transition: 500ms;

    left: 10rem !important;
    top: .6rem !important;

}