p {
  margin: 0;
}

/*----------------bouton rectangle-----------------*/
#buttonRectangleContainer {
  position: relative;
  overflow: hidden;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

#buttonRectangleContainer .circle {
  -webkit-transition: 500ms;
  transition: 500ms;
  position: absolute;
  left: -40px;
  top: .6rem;
  border-radius: 50px;
  height: 2rem;
  width: 2rem;
  background-color: green;
  border: 1px black solid;
  z-index: 1;
}

#buttonRectangleContainer .circle-top {
  top: -3rem;
  left: 1rem;
}

#buttonRectangleContainer .circle-bot {
  top: 4rem;
  left: 1rem;
}

#buttonRectangleContainer .rectangleFond {
  margin: 1rem 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 4rem;
  width: 10rem;
  background-color: red;
  border: 1px black solid;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 5px black solid;
}

#buttonRectangleContainer .rectangleFond p {
  padding: 1rem 2rem;
}

#buttonRectangleContainer .rectangleFond:hover .circle {
  -webkit-transition: 500ms;
  transition: 500ms;
  left: 1rem;
  top: .6rem;
}

#buttonRectangleContainer .circleClicked {
  -webkit-transition: 500ms;
  transition: 500ms;
  left: 10rem !important;
  top: .6rem !important;
}

/*----------------bouton rond-----------------*/
#buttonRoundContainer {
  position: relative;
  overflow: hidden;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

#buttonRoundContainer .circleContainer {
  -webkit-transition: 700ms;
  transition: 700ms;
  position: absolute;
  left: 100px;
  height: 6rem;
  width: 6rem;
  z-index: 1;
}

#buttonRoundContainer .circleContainer .circle {
  margin: 0 auto;
  position: relative;
  top: 10px;
  border-radius: 50px;
  height: 2rem;
  width: 2rem;
  background-color: green;
  border: 1px black solid;
}

#buttonRoundContainer .circleContainer-top {
  left: -5px;
  top: -4rem;
}

#buttonRoundContainer .circleContainer-left {
  left: -5rem;
}

#buttonRoundContainer .circleleFond {
  color: blanchedalmond;
  margin: 1rem 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 6rem;
  width: 6rem;
  background-color: blue;
  border: 1px black solid;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 5px black solid;
}

#buttonRoundContainer .circleleFond:hover .circleContainer {
  -webkit-transition: 700ms;
  transition: 700ms;
  left: -5px;
  top: -.3rem;
}

#buttonRoundContainer .circleContainerClicked {
  -webkit-transition: 500ms;
  transition: 500ms;
  left: -5px !important;
  top: -.3rem !important;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

/*----------------bouton 3 ptn-----------------*/
.treeDotsButtonContainer {
  -webkit-transition: 500ms;
  transition: 500ms;
  position: relative;
  height: 5rem;
  width: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ff61d8;
  border-radius: 50px;
  border: solid 5px black;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  color: white;
  font-size: 4rem;
}

.treeDotsButtonContainer .buttonContainer {
  margin: auto auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.treeDotsButtonContainer .buttonContainer .button {
  position: relative;
  -webkit-transition-property: width, height;
  transition-property: width, height;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  left: 0px;
  border-radius: 50px;
  background-color: #b9008b;
  height: 1rem;
  width: 1rem;
  margin: .1rem;
  -webkit-box-shadow: 0px 3px 1px black;
          box-shadow: 0px 3px 1px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.treeDotsButtonContainer .buttonContainer .button i {
  -webkit-transition: 500ms;
  transition: 500ms;
  opacity: 0;
  color: black;
  font-size: .1rem;
}

.treeDotsButtonContainer .buttonContainer .button:hover {
  background: white;
}

.treeDotsButtonContainer .buttonContainer .button:hover i {
  color: #b9008b;
}

.treeDotsButtonContainer:hover {
  -webkit-transition: 500ms;
  transition: 500ms;
  width: 10rem;
}

.treeDotsButtonContainer:hover .button {
  background-color: #b9008b;
  height: 3rem;
  width: 3rem;
  -webkit-box-shadow: 0px 6px 1px black;
          box-shadow: 0px 6px 1px black;
}

.treeDotsButtonContainer:hover .button i {
  -webkit-transition: 500ms;
  transition: 500ms;
  opacity: 1;
  color: white;
  font-size: 2.3rem;
}

.treeDotsButtonContainer:hover .button:active {
  top: 5px;
  -webkit-box-shadow: 0px 1px 1px black !important;
          box-shadow: 0px 1px 1px black !important;
}
/*# sourceMappingURL=animation.css.map */